<h1>帳號註冊</h1>

<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |message|%>
      <li> <%= message %> </li>
    <% end %>
  </ul>
<% end %>



<%= form_with model: @user do |f| %>

<div>
<%= f.label :email, "Email" %>    
<%= f.text_field :email %>    
</div>

<div>
<%= f.label :password, "密碼" %>    
<%= f.password_field :password %>    
</div>

<div>
<%= f.label :password_confirmation, "密碼確認" %>    
<%= f.password_field :password_confirmation %>    
</div>

<%= f.submit "註冊" %>

<% end %>
  